@charset "ISO-8859-1";

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #36B1DE;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #36B1DE;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}