@charset "ISO-8859-1";
@import "./global.css";
.show {
  padding: 12px;
  color: #FFF;
  background-color: #36B1DE;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid #36B1DE;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

h1,h2,h3,h4{
	color: #36B1DE;
}

h3{
	font-size: 20px;
}

h4{
	font-size: 16px;
}